@import "tailwindcss";

@theme inline {
  --color-navy: #060d18;
  --color-navy-2: #0a1628;
  --color-card: #0d1f35;
  --color-card-2: #112240;
  --color-border: #0e2a3d;
  --color-border-2: #1a3a52;
  --color-teal: #00c896;
  --color-teal-2: #00e5a8;
  --color-teal-dim: #007a5c;
  --color-text-primary: #ffffff;
  --color-text-secondary: #cbd5e1;
  --color-text-muted: #64748b;
  --color-red: #d63031;
  --color-green: #27ae60;
  --color-gold: #e8920a;
  --color-purple: #5b35d5;

  --font-sans: "Syne", system-ui, sans-serif;
  --font-mono: "JetBrains Mono", "Fira Code", monospace;
}

body {
  background-color: var(--color-navy);
  color: var(--color-text-primary);
  font-family: var(--font-sans);
}
